<!DOCTYPE html>
<html lang="en">

  <div class="jumbotron center">
  	<h1>Your financial life,<br> in one hub.</h1>
  	<p> <%= link_to "Sign up", "#", class: "btn btn-large btn-primary" %> <%= link_to "Log in", "#", class: "btn btn-large btn-primary" %></p>
  </div>

  <!-- Carousel feature -->
  <div class="container">
    <%= render 'pages/carousel' %>
  </div> 

  <!-- featurettes below the carousel -->
  <div class="container marketing" style="width:100%">
    <%= render 'pages/featurettes' %>
  </div>

  <footer>
    <p>&copy; CapitalHub 2013</p>
  </footer>

</html>